h1, h2 {
  background-color: lightgray;
  color: #333;
  margin: 0;
  padding: 0;
}
h2 {
  font-style: italic;
}
.editBox {
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
}
.editBox:focus {
  box-shadow: inset 0 0 10px darkgreen;
}
#edit {
  background-color: white;
}
#text {
  background-color: black;
  color: white;
}
#text:focus {
  box-shadow: inset 0 0 10px white;
}
#data {
  background-color: lightgreen;
  color: black;
}
#data pre {
  margin: 0;
}
#rendered {
  background-color: lightblue;
  color: black;
}
